.scrollTop{
    position:fixed;
    right:40px;
    bottom:40px;
    z-index:201;
    & .scroll-to-top {
        right:10px;
        bottom:40px;
    }
    & i{
        transform: rotate(90deg);
        background-color:#d79f50;
        padding:10px 15px;
        cursor:pointer;
        font-size:24px;
        color:#ffffff;
        border-radius:10px ;
    }
    & i:hover{
        // color:#e6921e;
        background-color:#e6921e;
    }
    & button{
        background-color:#d79f50;
        opacity: .5;
        transition: .3s ease-out;
        z-index:100;
        &:hover{
            background-color:#e6921e;
            opacity: 1;
        }
    }
    & svg{
        fill: #ffffff;
    }
}